<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation-Text-Web-Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav>
            <p class="logo">OpenAgent</p>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Team</a></li>
                
            </ul>
            <!-- <img src="cart.png" class="cart-icon"> -->
        </nav>
        <div class="text-box">
            <!-- <p>I'M</p> -->
            <h1>AI CURATED GIFT IDEAS</h1>
            <h3>Our AI-powered tool will guide you in choosing the perfect gift when you're unsure about what to buy. Simply fill out the form below with information about the recipient and your budget, and we'll suggest a curated list of gifts!</h3>
            <div class="row">
                <a href="">Let's start <span>&#x27F6;</span></a>
                <!-- <a href="">Connect With Me <span>&#x27F6;</span></a> -->
                <!-- <span>You Can Explore More About My Portfolio And<br><br>Personanl Life Experiences Here.</span> -->
            </div>
        </div>
        <!-- <div class="social-icons">
            <a href=""><img src="dribble.png"></a>
            <a href=""><img src="telegram.png"></a>
            <a href=""><img src="instagram.png"></a>
        </div> -->
    </div>
</body>
</html>